<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css">

    <style>
        .movie-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .movie-card {
            width: 300px;
            margin: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }

        .movie-image {
            width: 100%;
            height: auto;
            display: block;
        }

        .movie-info {
            padding: 10px;
        }

        .movie-title {
            font-size: 24px;
            margin: 0;
            padding: 0;
        }

        .movie-release-date {
            font-size: 16px;
            margin: 10px 0;
            padding: 0;
        }

        .movie-overview {
            font-size: 16px;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <script>



        var api_key = "72793b412d709f7c5af657c1cdab98d3";
        var api_url = "https://api.themoviedb.org/3/";
        var genre_id = Number(location.href.split("/").pop() || 0);
        console.log("1234");
        //var genre_url = api_url + "genre/movie/list?api_key=" + api_key;
        var movie_url = api_url + "movie/popular?api_key=" + api_key;

        //Magi fra andre Hovedforløb elever her✨

        // Retrieve the list of popular movies
        $.get(movie_url, function (movies) {
            //var genredMovies = movies.results.filter(movie => movie.genre_ids.includes(genre_id))
            var genredMovies = movies.results.filter(function (movie) {
                return movie.genre_ids.includes(genre_id)
            });
            //$.each(movies.results, function(index, movie) {
            //    if (movie.genre_ids.includes(genre_id)) {
            //        genredMovies.push(movie);
            //    }
            //});
            // Loop through the movies and create a card for each one
            var movie_list = $("<div>").addClass("movie-list");
            $.each(genredMovies, function (i, movie) {
                var movie_card = $("<div>").addClass("movie-card");
                var movie_image = $("<img>").addClass("movie-image").attr("src", "https://image.tmdb.org/t/p/w185/" + movie.poster_path);
                var movie_info = $("<div>").addClass("movie-info");
                var movie_title = $("<h2>").addClass("movie-title").html('<a href="https://www.google.com/search?q=' + encodeURIComponent(movie.title) + '" target="_blank">' + movie.title + '</a>');
                var movie_release_date = $("<p>").addClass("movie-release-date").text("Release Date: " + movie.release_date);
                var movie_overview = $("<p>").addClass("movie-overview").text(movie.overview);
                movie_info.append(movie_title, movie_release_date, movie_overview);
                movie_card.append(movie_image, movie_info);
                movie_list.append(movie_card);
            });
            // Add the list of movies to the page
            $("body").append(movie_list);
            // Add a click event to each movie card to retrieve more information about the movie
            $(document).on("click", ".movie-card", function (event) {
                var movie_id = $(this).data("id");
                var movie_info_url = api_url + "movie/" + movie_id + "?api_key=" + api_key;
                $.get(movie_info_url, function (movie_info) {
                    // Display the movie information in a modal dialog
                    var movie_dialog = $("<div>").attr("title", movie_info.title);
                    var movie_dialog_content = $("<p>").html("<b>Release Date:</b> " + movie_info.release_date + "<br>" + "<b>Overview:</b> " + movie_info.overview);
                    movie_dialog.append(movie_dialog_content);
                    movie_dialog.dialog();
                });
            });
        });
    </script>
</body>