@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-image: url("https://cdn.discordapp.com/attachments/1034440253299245129/1077900131992621076/Rantala_AA_Cover_image_that_are_cinematic_and_a_danish_flag_bb37f90c-a512-4853-9d0a-dac3523541cb.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>

    <div class="text-center" style="color:#FFFFFF">
        <h1>StreamWave</h1>
        <p>Ride the StreamWave to endless entertainment!</p>
    </div>
</body>
</html>